.booking {
    padding-top: 40px;
}

.booking__filters {

    .filters__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .filters__list {
        list-style-type: none;
        margin: 0;
    }

    .filters__submit {
        width: 100%;
        text-transform: uppercase;
    }
}

.booking__results {
    .row {
        margin-bottom: 30px;
    }

    .results__header {
        .header__content {
            text-align: right;
        }
    }

    .results__item {
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        border-radius: 2px;

        .item__image {

        }

        .item__content {
            display: flex;
            flex-direction: column;
            padding: 20px 10px 10px 10px;
            min-height: 250px;
        }

        .item__title {
            font-family: $main-font-semibold;
            font-size: 18px;
        }

        .item__subtitle {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .item__price {
            text-align: right;
            margin-top: auto;
        }

        .item__price-text {
            margin-bottom: 5px;

            font-family: $main-font-semibold;
            font-size: 18px;
            line-height: 24px;
        }

        .item__price-text--blue {
            color: #4B75F9;
        }

        .item__link {
            width: 100%;
            font-size: 14px;
            padding: 0;
            margin-bottom: 0;
        }
    }
}