.front-hero {
    height: calc(100vh - 80px);
    width: 100%;

    background: url('../../img/front-bg.png') no-repeat center center;
    background-size: cover;

    padding-top: 60px;
}

.front-hero__title {
    margin-bottom: 30px;
}

.front-hero__categories {

    margin-bottom: 60px;

    .categories__item {

        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 130px;
        height: 130px;

        border-radius: 3px;

        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 20px;
        overflow: hidden;


        input[type="radio"] {
            display: none;
            position: relative;
        }

        input[type="radio"]:checked ~ .categories__item-bg {
            background: #4B75F9;
            border: 1px solid #4B75F9;
        }

        input[type="radio"]:checked ~ .categories__item-title {
            color: white;
        }

        input[type="radio"]:checked ~ .categories__item-icon {

            .icon {
                display: none;
            }

            .icon--active {
                display: block;
            }
        }
    }

    .categories__item-icon {
        display: block;

        position: relative;
        z-index: 1;
        width: 48px;
        height: 48px;

        margin: 0 auto;

        .icon {
            width: 100%;
            height: 100%;
        }

        .icon--active {
            display: none;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 0;

            transform: translateX(-50%);
        }
    }

    .categories__item-bg {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        background: #FFFFFF;
        border: 1px solid #EDEDED;
    }

    .categories__item-title {
        display: inline-block;
        position: relative;
    }

    label {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        cursor: pointer;
    }
}

.front-hero__inputs {
    display: inline-block;
    width: 100%;

    .inputs__submit {
        width: 100%;
    }
}

.front-about {

    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;

    .about__logo {
        width: 100%;
        height: auto;

        margin-bottom: 30px;
    }

    .about__text {
        text-align: center;

        margin-bottom: 30px;
    }

    .about__link {
        display: inline-block;
        width: 270px;
        margin: 0 auto;
    }

}

.front-register {

    padding: 40px;
    text-align: center;

    background: url('../../img/kgirls-1.png'), url('../../img/kgirls-2.png');
    background-position: 90% bottom, 10% bottom;
    background-repeat: no-repeat;

    background-color: #f9f9f9;

    .register__title {
        display: block;
    }

    .register__link {
        display: block;
        width: 270px;
        margin: 0 auto;
    }
}