.hospital {

    .hospital__image {
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    .hospital__description {
        border: 1px solid #EDEDED;
        padding: 10px 20px 20px 10px;
    }

    .bundle__heading {
        font-size: 16px;
    }

    .bundle__section {
        margin-bottom: 20px;
    }

    .bundle__reserve {
        width: 100%;
        padding: 0;
    }

    .bundle__price {
        text-align: right;

        .price-item {
            font-family: $main-font-semibold;
            font-size: 18px;

            span {
                font-family: $main-font-bold;
                font-size: 18px;
                color: #4B75F9;
            }
        }
    }
}