<template>
    <div>
        <list ref="listing" @create="showCreate" @edit="showEdit"></list>
        <create :show="createIsActive" @hide="hideCreate" @created="updateList"></create>
        <edit :show="editIsActive" :id="edited_id" @hide="hideEdit" @edited="updateList"></edit>
    </div>
</template>

<style>

</style>

<script>
    export default {
        data() {
            return {
                createIsActive: false,
                editIsActive: false,
                edited_id: 0
            }
        },
        components: {
            'list': require('./hospitals/list.vue'),
            'create': require('./hospitals/create.vue'),
            'edit': require('./hospitals/edit.vue')
        },

        methods: {
            showCreate() {
                this.createIsActive = true;
            },

            hideCreate() {
                this.createIsActive = false;
            },

            showEdit(id) {
                this.editIsActive = true;
                this.edited_id = id;
            },

            hideEdit() {
                this.editIsActive = false;
            },

            updateList() {
                this.$refs.listing.update();
            }
        }
    }
</script>