<template>
    <select class="form-control" multiple="multiple">
        <option v-for="option in options" :value="option.id">{{ option.name_ru }}</option>
    </select>
</template>

<script>
    export default {

        props: ['options', 'value'],

        data() {
            return {
                selected: []
            }
        },

        mounted() {
            let vm = this;

            $(this.$el)
                .val(this.value)
                .select2({
                    theme: 'bootstrap',
                    width: '100%'
                })
                .on('change', function() {
                    this.selected = $(this).val();
                    vm.$emit('input', $(this).val())
                });
        },

        watch: {

        },

        destroyed () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>
