.button {
    background: #4B75F9;
    border-radius: 3px;

    font-family: $main-font-bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 36px;

    padding: 8px 16px;

    transition: box-shadow 0.3s;

    &:hover {
        background: #4B75F9;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
    }
}

.button--trans {
    border: 1px solid #4B75F9;

    background: transparent;

    color: #4B75F9;

    transition: box-shadow 0.3s, background 0.3s, color 0.3s;

    &:hover {
        background: #4B75F9;
    }
}