.navbar {
    height: 80px;
}

.navbar__container {
    height: 100%;
    @include flex-grid-row();

    align-items: center;
    padding: 0 15px;
}

.navbar__wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar__wrap--left {
    align-self: flex-start;
}

.navbar__wrap--right {
    margin-left: auto;
    align-self: flex-end;
}

.navbar__item {
    display: inline-block;
    vertical-align: middle;
}

.navbar__list {
    margin: 0;
    margin-left: 60px;

    li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        a {
            text-transform: uppercase;
            font-family: $main-font;
            font-size: 12px;
            color: #4A4A4A;
            line-height: 24px;
        }
    }
}