@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'LatoSemiBold';
    src: url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lato-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lato-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: $main-font;
}

h1, h2, h3, h4, h5 {
    font-family: $main-font-bold;
}

h1 {

}

h2 {

}

h3 {
    font-size: 24px;
}

h4 {

}

h5 {

}