<template>
    <div>
        <div class="form-group">
            <label for="categories">Категории</label>
            <select v-model="currentCategoryId" :name="cFormName" id="categories" class="form-control" @change="updateServiceCategories">
                <slot></slot>
            </select>
        </div>

        <div class="form-group">
            <label for="service_categories">Подкатегории</label>
            <select :name="scFormName" id="service_categories" class="form-control">
                <option v-for="item in options" :value="item.id">{{ item.name }}</option>
            </select>
        </div>
    </div>
</template>

<style>

</style>

<script>
    export default {
        props: ['cFormName', 'scFormName'],

        data() {
            return {
                options: [],
                currentCategoryId: 1
            }
        },
        components: {

        },

        methods: {
            updateServiceCategories() {
                axios.get(`/categories/service_categories/${this.currentCategoryId}`)
                    .then((res) => {
                        this.options = res.data;
                    });
            }
        },

        mounted() {
            this.updateServiceCategories();
        }
    }
</script>